{% extends "base.html" %}
{% block title %}Compose - C-Mail{% endblock %}
{% block content %}
<h3>Create New Message</h3>
<form method="post" action="/compose" enctype="multipart/form-data">
  <div class="mb-3">
    <label>To</label>
    <input type="text" class="form-control" name="to" required>
  </div>
  <div class="mb-3">
    <label>Subject</label>
    <input type="text" class="form-control" name="subject" required>
  </div>
  <div class="mb-3">
    <label>Message</label>
    <textarea class="form-control" rows="6" name="message" required></textarea>
  </div>
  <div class="mb-3">
    <label>Attach File / Image</label>
    <input type="file" class="form-control" name="file">
  </div>
  <button type="submit" class="btn btn-success">Encrypt & Send</button>
</form>
{% endblock %}
